.pedra{
  width:4600%;
  height: 0%;
  padding-bottom: 56%;
  background-image: url("./img/pedra_spritesheet.png");
  background-size: 100%,100%;
  background-repeat:no-repeat;
  will-change: transform;
}

.papel{
  width:4600%;
  height: 0%;
  padding-bottom: 56%;
  background-image: url("./img/papel_spritesheet.png");
  background-size: 100%,100%;
  background-repeat:no-repeat;
  will-change: transform;
}

.tesoura{
  width:4600%;
  height: 0%;
  padding-bottom: 56%;
  background-image: url("./img/tesoura_spritesheet.png");
  background-size: 100%,100%;
  background-repeat:no-repeat;
  will-change: transform;
}

.anim-play{
       animation: play 4.4s steps(58);
} 

@keyframes play {
  0% { transform: translateX(13%) }
  100% { transform: translateX(-113%) }
}



.esperando{
  background-size: 100%,100%;
  width:217%;
  height: 458%;
  background-image: url("./img/esperando.png");
  background-repeat:no-repeat;
  transform: translateY(-100%);
  transition: transform 100ms linear;
  will-change: transform;
}

.esperando-aberto{
  transform: none;
	transition: transform 100ms linear;
}




@font-face {
  font-family: upheaval;
  src: url(./upheavalproregular.ttf);
}


.blink {
  animation: blinker 0.5s linear 4 forwards;
}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}

.fade {
  animation: fadeinout 3.5s linear;
}

@keyframes fadeinout {
  0%   { opacity:0; }
  10%  { opacity:1; }
  80%  { opacity:1; }
  100% { opacity:0; }
}

.loading{
  width:100%;
  height: 0px;
  padding-bottom: 100%;
  background-image: url("./img/loading.png");
  background-size: 800%;
  
}

.loading-play{
  animation: playload 1s steps(8) infinite;
 
} 

@keyframes playload {
  from { background-position:    800%; }
    to { background-position: 0px; }
}


.contagem{
  width:100%;
  height: 0px;
  padding-bottom: 100%;
  background-image: url("./img/321.png");
  background-size: 300%;
  
}

.contagem-play{
  animation: playcontagem 2.5s steps(3);
 
} 

@keyframes playcontagem {
  from { background-position:    300%; }
    to { background-position: 0px; }

  0%   { opacity:0; }
  6%   { opacity:1; }
  28%   { opacity:1; }
  33%  { opacity:0; }
  39%  { opacity:1; }
  61%  { opacity:1; }
  66%  { opacity:0; }
  73%  { opacity:1; }
  94%  { opacity:1; }
  100%  { opacity:0; }
}

.aviso {
  animation: fadeAviso 0.5s;
}

@keyframes fadeAviso {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

 